<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-empleado-heading" data-cy="EmpleadoCreateUpdateHeading" jhiTranslate="supermercadoApp.empleado.home.createOrEditLabel">
        Create or edit a Empleado
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="supermercadoApp.empleado.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nombre')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="supermercadoApp.empleado.documento" for="field_documento">Documento</label>
          <input type="text" class="form-control" name="documento" id="field_documento" data-cy="documento" formControlName="documento" />
          <div *ngIf="editForm.get('documento')!.invalid && (editForm.get('documento')!.dirty || editForm.get('documento')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('documento')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="supermercadoApp.empleado.direccion" for="field_direccion">Direccion</label>
          <input type="text" class="form-control" name="direccion" id="field_direccion" data-cy="direccion" formControlName="direccion" />
          <div *ngIf="editForm.get('direccion')!.invalid && (editForm.get('direccion')!.dirty || editForm.get('direccion')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('direccion')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="supermercadoApp.empleado.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="supermercadoApp.empleado.telefono" for="field_telefono">Telefono</label>
          <input type="text" class="form-control" name="telefono" id="field_telefono" data-cy="telefono" formControlName="telefono" />
          <div *ngIf="editForm.get('telefono')!.invalid && (editForm.get('telefono')!.dirty || editForm.get('telefono')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('telefono')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="supermercadoApp.empleado.cargo" for="field_cargo">Cargo</label>
          <select class="form-control" name="cargo" formControlName="cargo" id="field_cargo" data-cy="cargo">
            <option [ngValue]="null">{{ 'supermercadoApp.Cargo.null' | translate }}</option>
            <option *ngFor="let cargo of cargoValues" [value]="cargo">{{ 'supermercadoApp.Cargo.' + cargo | translate }}</option>
          </select>
          <div *ngIf="editForm.get('cargo')!.invalid && (editForm.get('cargo')!.dirty || editForm.get('cargo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('cargo')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group" *ngIf="editForm.get('cargo')!.value == 'GERENTE' || editForm.get('cargo')!.value == 'SUPERVISOR'">
          <label class="form-control-label" jhiTranslate="supermercadoApp.empleado.codigoSU" for="field_codigoSU">Codigo SU</label>
          <input type="text" class="form-control" name="codigoSU" id="field_codigoSU" data-cy="codigoSU" formControlName="codigoSU" />
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" jhiTranslate="supermercadoApp.empleado.activo" for="field_activo">activo</label>
        <input type="checkbox" class="form-check" name="activo" id="field_activo" data-cy="activo" formControlName="activo" />
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
